@charset "UTF-8";
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'seg';
  src: url("../font/DSEG7Modern-BoldItalic.woff");
}

html {
  width: 100%;
  background-color: #444;
  color: #fff;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  font-weight: bold;
  font-size: 30px;
  /*リストの基本設定*/
  /*=============================*/
}

body ul {
  margin: 0;
  padding: 0;
}

body li {
  list-style: none;
  display: inline-block;
}

body #main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

body #main #countdown {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #111;
  padding: 10px;
}

#display, #condition {
  text-align: center;
}

#display {
  margin-bottom: 20px;
}

#display ul {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #fff;
}

#display ul li {
  font-family: 'seg';
  font-size: 100px;
  padding: 20px;
}

#display ul li .milliseconds {
  font-size: 50px;
}

#display ul li .val {
  position: relative;
}

#display ul li .val.seconds {
  margin-right: 10px;
}

#display ul li .un.date {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
  font-size: 33.33333px;
}

#display p {
  margin: 0;
  padding: 0;
  text-align: left;
}

#condition {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: normal;
}

#condition ul {
  display: inline-block;
}

#condition ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #fff;
}

#rate {
  padding: 20px;
}

#rate #bar {
  background-color: #f00;
  height: 100px;
  width: 0%;
}
