@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 30px;
  text-align: center;
}

body #main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

body #main #countup, body #main #countdown {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 20px;
}

body #main #from, body #main #display, body #main #to, body #main #display2 {
  width: 100%;
  margin-bottom: 10px;
}

body #main #from, body #main #to {
  text-align: center;
}

body #main #display .val, body #main #display2 .val {
  color: red;
  font-size: 2em;
}
