*{
	box-sizing:border-box;
}
body{
	background-color:white;
	margin: 0;
	padding: 0;
	font:{
		family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		size:30px;
	}
	text-align: center;
	#main{
		width: 100%;
		margin: {
			left: auto;
			right: auto;
		}
		padding: 20px;
		#countup,#countdown{
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border: 1px solid #000;
			margin: {
				bottom: 20px;
			}
			padding: 20px;
		}
		#from,#display,#to,#display2{
			width: 100%;
			margin: {
				bottom: 10px;
			}
		}
		#from,#to{
			text-align: center;
		}
		#display,#display2{
			.val{
				color: red;
				font: {
					size:2em;
				}
			}
			.un{

			}
		}
	}
}